<h1> Create your post</h1>

<%= form_with(model: @post, local: true) do |f| %>
  <%= f.label :post %>
      <%= f.text_field :post, class: 'form-control' %>

        <%= f.submit "Create post" %>
<% end %>
